body{
  margin:0;
  padding: 0;
}
.box{
  width:100%;
  padding: 20px;
  border: 4px #2980b9  solid; 
  padding-left: 90vh;
}
.box-head{
  display: flex;
  justify-content: center;
  background-color: #2980b9;
  padding: 0;
  margin:0;
  color: white;
}
.show_details{
  margin: 20px;
}

/*addNewProduct.php css file start*/
.pro{
  position: relative;
  left: 40%;
  margin: 40px 0;
}
.pro h3{
  display: flex;
  align-items: center;
}
.btn{
  color: black;
  border:none;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
}
/*end*/

.required-field::before{
  content: "*";
  color:red;
}

.main{
  display: flex;
  justify-content: center;
  padding: 250px;
  font-size: larger;
}